* {
	box-sizing: border-box;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
}

button, 
button:active, 
button:focus,
input, 
input:active, 
input:focus {
    outline: none;
}

section, .header {
	display: flex;
	width: 100%;
}

.bg__video {
	display: none;
	width: 100%;
	height: 100%;
}
.bg__video-content {
	
	width: 100%;
	height: 100%;
}

.header {
	position: relative;
	width: 100%;
	background: url('../src/mainBg.jpg') center no-repeat;
	background-size: cover;
	align-items: center;
	text-align: center;
	flex-direction: column;
	padding-top: 10%;
	padding-bottom: 10%;
}
.header > a {
	margin-top: 40px;
}

.header__title {
	font-size: 60px;
	font-weight: 100;
	max-width: 700px;
	margin-bottom: 45px;
}

.header__play {
	position: relative;
	
}

.header__play img {
	padding: 1px;
	filter: opacity(0.6);
	cursor: pointer;
	border-radius: 50%;
}

.header__play::after {
	content:'';
	width: 17px;
	height: 19px;
	position: absolute;
	background-image: url('../src/Polygon1.png');
	display: block;
	top: 35%;
	left: 40%;
	cursor: pointer;
}

.header__button {
	width: 190px;
	height: 50px;
	font-size: 16px;
	background-color: #ff6d6d;
	color: #fff;
	padding: 0;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

.header__subtext {
	margin-top: 20px;
}

.section2 {
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-weight: 500;
}

.section2__description {
	
	max-width: 50%;
	padding: 5%;
}

.description-tag {
	color: #ff7777;
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 10%;
	letter-spacing: 0.2em;
	z-index: 5;
}

.description-title {
	font-weight: 500;
	font-size: 40px;
	margin-top: 1%;
	z-index: 5;
}

.description-title span {
	color: #ff7777;
}

.description-text {
	z-index: 5;
	font-size: 16px;
}

.section2__image {
	max-width: 40%;
	position: relative;
	background-size: cover;
}

 .section2__image img {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.section3 {
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	background: url("../src/penHolder.png") center top no-repeat;
	background-size: cover;
	
	z-index: 3;
}

.section3::after {
	content: '';
	position: absolute;
	width: 170px;
	height: 215px;
	z-index: 4;
	background: url("../src/Earphones.png") center no-repeat;
	display: block;
	right: 5%;
}

.section3__cards{
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	margin-top: 70px;
	margin-bottom: 15%;
}

.section3__card{
	max-width: 360px;
	margin-bottom: 2%;
}

.section4 {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-top: 40px;
	position: relative;
	overflow: hidden;
}

.section4__image {
	max-width: 50%;
	height: 100%;
	position: relative;
	background-size: cover;
	padding: 80px 0;
}

.section4__image-bg {
	position: absolute;
	z-index: -1;
	left: 0; 
} 

.section4__image img {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.section4__description {
	max-width: 40%;
	padding: 2%;
}

.section5 {
	background: url("../src/fonGroup.png") rgba(0,0,0,.8) no-repeat;
	background-size: cover;
	flex-direction: column;
}

.section5__cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 85px;
}

.section5__card {
	width: 350px;
	margin: 20px;
}

.section5__card-title {
	color: #fff;
	font-weight: 500;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.section5__card-subtitle {
	margin: 0;
	color: #ff7777;
	font-weight: 500;
	font-size: 16px;
}

.section5__card-text {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
	margin-top: 25px;
}

.section5__partners {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding: 0 5%;
	margin-bottom: 90px;
}

.section5__partner_container{
	filter: invert(100%);
	margin: 10px;
}

.section6 {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #f6f5f3;
}

.section6__text {
	max-width: 670px;
}

.section6__image_container {
	margin-top: 100px;
	max-width: 790px;
}

.section6__image_container img{
	width: 100%;
	background-size: cover;
}

.section7 {
	text-align: center;
	flex-direction: column;
	background-color: #323969;
}

.section7__title {
	color: #fff;
}

.section7__form {
	margin-top: 90px;
}

.section7__form input {
	width: 260px;
	height: 60px;
	background-color: #464c77;
	color: #fff;
	border: 2px solid #999cb4;
	border-radius: 5px;
	padding-left: 30px;
	font-size: 16px;
	font-weight: 400;
	margin-left: 30px;
	margin-bottom: 25px;
}

.section7__form input::placeholder {
	color: #fff;
}

.send_form {
	width: 260px;
	height: 60px;
	background-color: #ff6d6d;
	color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	cursor: pointer;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 40px;
}

.send_form::before {
	content: '30 days free trial for all.';
	position: absolute;
	width: 200px;
	height: 40px;
	display: block;
	top: -70px;
	cursor: default;
}

.send_form::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 50px;
	display: block;
	background: url("../src/arrow.png") no-repeat;
	top: -50px;
}

.section7__policy {
	margin-bottom: 80px;
	font-size: 16px;
	color: #797d9b;
}

.section7__policy a {
	color: #797d9b;
	text-decoration: underline;
}

.footer {
	position: relative;
}

.footer__container{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 80px 5%;
}

.footer__container .footer__card-first{
	max-width: 280px;
	margin: 0;
	margin-bottom: 20px;
}

.footer__container .footer-first-title {
	width: 100px;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 27px;
	margin: 0;
	font-weight: 400;
	display: block;
	position: relative;
}

.footer-first-title::before {
	content: '';
	position: absolute;
	width: 42px;
	height: 47px;
	display: block;
	background: url("../src/footerTitlePolygon.png") left top no-repeat;
	right: -5px;
	top: -4px;
}

.footer__card {
	font-family: "";
	font-weight: 500;
	color: #868686;
	margin: 0 50px;
	margin-bottom: 20px;
}

.footer__card-title {
	color: #2c2f49;
	font-weight: 500;
	font-size: 22px;
	margin: 0;
}

.footer__card-text {
	line-height: 24px;
}

.footer__card-items {
	margin-top: 15px;
	line-height: 30px;
	list-style-type: none;
	padding: 0;
}

.footer__card-items a { 
	color: #868686;
	text-decoration: none;
	font-weight: 400;
}

.footer__card-emain{
	width: 280px;
	margin-right: 0;
}

.footer__card-emain-container{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: left;
}

.footer__card-emain input {
	width: 210px;
	height: 50px;
	background-color: #f6f6f6;
	border: 2px solid #999cb4;
	border-radius: 5px 0 0 5px;
	font-size: 16px;
	font-weight: 400;
	padding-left: 30px;
}

.btn-send_email{
	width: 50px;
	height: 50px;
	background-color: #ff6d6d;
	border: 0;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	box-shadow: 0 3px 5px rgba(0,0,0,.4);
}

.footer__card-icons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20%;
}

/* Large desktops and laptops */
@media (min-width: 1500px) {

	
	.description-tag, .section5__card-title {
		font-size: 35px;
	}
	
	.description-title {
		font-size: 40px;
	}
	
	.description-text, .section3__card-text, .section5__card-text{
		font-size: 22px;
	}
	.section3__card-title, .section5__card-subtitle{
		font-size: 26px;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.section2__description {
		max-width: 45%;
		padding: 15px;
	}
	.section2__image {
		max-width: 50%;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.header__title{
		padding: 15px;
		font-size: 50px;
	}
	.section2 {
		width: 100%;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		font-weight: 500;
	}
	.section2__description {
		max-width: 100%;
		padding: 15px;
		text-align: center;
	}
	.section2__image {
		max-width: 100%;
	}
	.section4 {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		padding-top: 0;
		position: relative;
		overflow: hidden;
	}
	
	.section4__image {
		max-width: 100%;
		/* height: 100%; */
		position: relative;
		background-size: cover;
		padding: 15px 15px;
	}
	
	.section4__image-bg {
		position: absolute;
		z-index: -1;
		left: 0; 
	} 
	
	.section4__description {
		max-width: 100%;
		padding: 15px;
		text-align: center;
	}
	.section4__description .description-tag{
		color: #fff;
	}
	.footer__container{
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;
		text-align: center;
		padding: 15px;
	}
	.footer__container .footer__card-first {
		margin: 15px auto;
	}
	.footer__container .footer-first-title {
		margin: 15px auto;
	}
	.footer__card-emain{
		width: 280px;
		margin: 15px auto;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.header__title {
	font-size: 40px;
	font-weight: 100;
	max-width: 700px;
	margin-bottom: 45px;
	}
	.description-title {
		font-weight: 500;
		font-size: 35px;
		margin-top: 1%;
		z-index: 5;
	}
	.description-text{
		padding: 10px;
	}
	.section6__image_container{
		margin-top: 15px;
	}
	.section7__form {
    margin-top: 30px;
}
	
	.section7__form input {
	margin-left: 0;
	}
	.footer__container{
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;
		text-align: center;
		padding: 15px;
	}
	.footer__container .footer__card-first {
		margin: 15px auto;
	}
	.footer__container .footer-first-title {
		margin: 15px auto;
	}
	.footer__card-emain{
		width: 280px;
		margin: 15px auto;
	}
	.send_form {
		margin: 20px auto;
		margin-top: 50px;
	}
}

/* Iphone 5 */
@media (max-width: 320px) {
	.send_form {
		margin: 20px auto;
		margin-top: 50px;
	}
}
